.banner-container {
    max-width: 1240px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("/src/assets/bannerhome.png");
    margin: auto;
}

.banner-text {
    font-size: 48px;
    color: #FFF;
    font-size: 500;
}