.banner-container {
    max-width: 1240px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-image: url("/src/assets/bannerhome.png");
    margin: auto;
/*     filter: brightness(70%);
 */}

.banner-text {
    font-size: 48px;
    color: #FFF;
    font-size: 500;
}