.main_logement {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.collapse_container {
    display: flex;
    gap: 76px;
    justify-content: center;
    padding-bottom: 50px;
}

.collapse_block {
    width: 582px;
}

.logement_titleInfos h1 {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    margin-top: 30px;
    margin-bottom: 0px;
}

.logement_titleInfos h2 {
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
    margin-top: 0px;
    margin-bottom: 20px;
}

.logement_tags {
    display: flex;
    height: 25px;
    gap: 10px;
    margin-bottom: 24px;
}

.tag {
    color: #FFFFFF;
    @include flex-center;
    font-size: 14px;
    border-radius: 10px;
    background-color: $primary-color;
    padding: 3px 30px;
}

.equipmentsContainer {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.infoHost_container {
    display: flex;
    justify-content: space-between;
}

.hostRate_container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.logement_host_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 24px;
}

.hostProfilePicture img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.hostName {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logement_host_container p {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.logement_rate_container {
    width: 196px;
    display: flex;
    justify-content:flex-end;
}

.rateContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rateContainer img {
    width: 36px;
    height: 24px;
}

@media screen and (max-width: $maxwidth) {
    .main_logement {
        width: 100%;
        padding: 0px 20px;
    }

    .infoHost_container {
        width: 100%;
        flex-direction: column;
    }

    .logement_titleInfos h1 {
        font-size: 18px;
        margin-top: 10px;
    }

    .logement_titleInfos h2 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .logement_tags {
        width: 100%;
        margin-bottom: 16px;
        flex-wrap: wrap;
        height: 18px;
    }

    .titleTags_container {
        width: 100%;
    }

    .tag {
        font-size: 10px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hostRate_container {
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 14px;
        justify-content: space-between;
    }

    .rateContainer {
        width: 98px;
    }

    .rateContainer img {
        width: 16px;
    }

    .logement_rate_container {
        justify-content: flex-start;
    }

    .logement_host_container {
        padding: 0;
    }

    .logement_host_container p {
        font-size: 12px;
    }

    .hostProfilePicture {
        display: flex;
    }

    .hostProfilePicture img {
        width: 32px;
        height: 32px;
    }

    .collapse_container {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding-bottom: 27px;
    }

    .collapse_block {
        width: 100%;
    }
}