.navbar {
    display: flex;
    gap: 57px;

    &_button-home,
    &_button-about {
        color: $primary-color;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration-line: underline;
        }
    }
}

.active {
    text-decoration: underline;
}