.navbar {
    display: flex;
    gap: 57px;

    &_button-home,
    &_button-about {
        color: $primary-color;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration-line: underline;
        }
    }
    
    @media screen and (max-width: $maxwidth) {
        font-size: 12px;
        text-transform: uppercase;
        gap: 26px;
    }
}

.active {
    text-decoration: underline;
}