@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Base/base";

@import "../components/pages/about";

@import "../components/Banner/banner";
@import "../components/Header/header";
@import "../components/Footer/footer";
@import "../components/Navbar/navbar";
@import "../components/Cards/card";
@import "../components/Collapse/collapse";
