@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
}

.mainAbout {
  margin: 0px 20px 38px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaspse_container {
  max-width: 1023px;
  width: 100%;
  margin-top: 38px;
}

.banner-container {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container img {
  border-radius: 25px;
  filter: brightness(70%);
  width: 100%;
}

.banner-text-container {
  position: absolute;
}

.banner-text {
  font-size: 48px;
  color: #FFFFFF;
  font-size: 500;
}

/*** Mobile ***/
@media screen and (max-width: 768px) {
  .banner-container {
    height: 111px;
    border-radius: 10px;
  }
  .banner-container img {
    border-radius: 10px;
    width: 335px;
    height: 100%;
  }
  .banner-text {
    font-size: 24px;
  }
  .banner-text-container {
    margin-left: 32px;
    width: 335px;
  }
}
.header {
  background: white;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 45px 100px 50px 100px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 145px;
    height: 47px;
  }
  .header {
    padding: 20px 20px 27px 20px;
  }
}
.footer-container {
  width: 100%;
  height: 209px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 66px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0;
  }
  .footer-container img {
    width: 122px;
    height: 40px;
  }
  .footer-container p {
    font-size: 12px;
    width: 134px;
  }
}
.navbar {
  display: flex;
  gap: 57px;
}
.navbar_button-home, .navbar_button-about {
  color: #FF6060;
  text-decoration: none;
}
.navbar_button-home:hover, .navbar_button-home:focus, .navbar_button-about:hover, .navbar_button-about:focus {
  text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 12px;
    text-transform: uppercase;
    gap: 26px;
  }
}

.active {
  text-decoration: underline;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F6F6F6;
  border-radius: 25px;
  margin: 40px 100px 50px 100px;
  gap: 50px;
  padding: 50px 0px;
}
@media screen and (max-width: 768px) {
  .cards-container {
    margin: 0;
    background: none;
    padding-top: 22px;
    padding-bottom: 27px;
    gap: 20px;
  }
}

.cardBg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.cardCover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_logement {
  width: 340px;
  height: 340px;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 768px) {
  .card_logement {
    width: 335px;
    height: 255px;
  }
}

.card_logement_title {
  bottom: 20px;
  position: absolute;
  color: #f6f6f6;
  padding: 0 20px;
  font-size: 18px;
}

.card_logement img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.collapseContainer {
  margin-bottom: 30px;
  border-radius: 5px;
}

.collapseContainer:last-child {
  margin-bottom: 0;
}

.collapseTitleContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  height: 50px;
}

.collapseTitle {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.chevron {
  transition: all 0.25s ease-in-out;
}

.chevron.up {
  transform: rotate(-180deg);
}

.collapseButton:hover {
  cursor: pointer;
}

.collapseTexteContainer {
  border-radius: 0px 0px 5px 5px;
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: height ease 0.25s;
  margin-top: -8px;
}

.collapseTexte {
  padding: 24px 20px 20px 20px;
  font-size: 18px;
}

.primary {
  background: #F6F6F6;
  color: #FF6060;
}

.primaryBackground {
  background: #FF6060;
}

.content {
  padding: 0.5rem;
  border-radius: 5px;
}

/*** Mobile ***/
@media (max-width: 768px) {
  .collapseContainer {
    margin-bottom: 20px;
  }
  .collapseTitleContainer {
    border-radius: 5px;
    height: 30px;
    padding: 10px;
  }
  .collapseTitle {
    font-size: 13px;
  }
  .chevron {
    width: 30px;
  }
  .collapseTexte {
    padding: 20px;
    font-size: 12px;
  }
  .collapseButton img {
    width: 20px;
  }
}
.slideShowContainer {
  border-radius: 25px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider {
  width: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.sliderImageContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 415px;
}

.sliderImageContainer > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}

.numberContainer {
  justify-content: center;
  size: 18px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 25px;
  position: absolute;
  z-index: 1;
  color: white;
}

/* Buttons */
.arrowContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
  margin: 0;
  color: white;
  position: absolute;
  z-index: 1;
}

.previous, .next {
  justify-content: center;
  margin: 0;
  padding: 0;
}

.previous:hover, .next:hover {
  cursor: pointer;
}

/*** Mobile ***/
@media (max-width: 768px) {
  .slideShowContainer {
    border-radius: 10px;
  }
  .previous img, .next img {
    width: 24px;
    height: 24px;
  }
  .numberContainer {
    display: none !important;
  }
  .sliderImageContainer {
    height: 255px;
  }
  .arrowContainer {
    padding: 2px;
  }
}
.main_logement {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
}

.collapse_container {
  display: flex;
  gap: 76px;
  justify-content: center;
  padding-bottom: 50px;
}

.collapse_block {
  width: 582px;
}

.logement_titleInfos h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin-top: 30px;
  margin-bottom: 0px;
}

.logement_titleInfos h2 {
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  margin-top: 0px;
  margin-bottom: 20px;
}

.logement_tags {
  display: flex;
  height: 25px;
  gap: 10px;
  margin-bottom: 24px;
}

.tag {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: #FF6060;
  padding: 3px 30px;
}

.equipmentsContainer {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infoHost_container {
  display: flex;
  justify-content: space-between;
}

.hostRate_container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.logement_host_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-top: 24px;
}

.hostProfilePicture img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.hostName {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logement_host_container p {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.logement_rate_container {
  width: 196px;
  display: flex;
  justify-content: flex-end;
}

.rateContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rateContainer img {
  width: 36px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .main_logement {
    width: 100%;
    padding: 0px 20px;
  }
  .infoHost_container {
    width: 100%;
    flex-direction: column;
  }
  .logement_titleInfos h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  .logement_titleInfos h2 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .logement_tags {
    width: 100%;
    margin-bottom: 16px;
    flex-wrap: wrap;
    height: 18px;
  }
  .titleTags_container {
    width: 100%;
  }
  .tag {
    font-size: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hostRate_container {
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 14px;
    justify-content: space-between;
  }
  .rateContainer {
    width: 98px;
  }
  .rateContainer img {
    width: 16px;
  }
  .logement_rate_container {
    justify-content: flex-start;
  }
  .logement_host_container {
    padding: 0;
  }
  .logement_host_container p {
    font-size: 12px;
  }
  .hostProfilePicture {
    display: flex;
  }
  .hostProfilePicture img {
    width: 32px;
    height: 32px;
  }
  .collapse_container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-bottom: 27px;
  }
  .collapse_block {
    width: 100%;
  }
}
.notfound_container {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notfound_number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 288px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notfound_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 0;
}

.notfound_backbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6060;
  font-size: 18px;
  margin: 139px 0 139px 0;
}

@media screen and (max-width: 768px) {
  .notfound_number {
    font-size: 96px;
    margin-top: 86px;
    margin-bottom: 53px;
  }
  .notfound_text {
    font-size: 18px;
    text-align: center;
    padding: 0px 30px;
  }
  .notfound_backbtn {
    margin-top: 113px;
    margin-bottom: 113px;
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */