.footer-container {
    width: 100%;
    height: 209px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    @include flex-center;
    flex-direction: column;
    padding-top: 66px;
}

@media screen and (max-width: $maxwidth) {
    .footer-container {
        padding: 0;
    }

    .footer-container img {
        width: 122px;
        height: 40px;
    }

    .footer-container p {
        font-size: 12px;
        width: 134px;
    }
}