.banner-container {
    position: relative;
    max-width: 1240px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.banner-container img {
    border-radius: 25px;
    filter: brightness(70%);
}

.banner-text-container {
    position: absolute;
}

.banner-text {
    font-size: 28px;
    color: #FFF;
    font-size: 500;
}