

.banner-container {
    position: relative;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    & img {
        border-radius: 25px;
        filter: brightness(70%);
        width: 100%;
    }
}

.banner-text-container {
    position: absolute;
}

.banner-text {
    font-size: 48px;
    color: #FFF;
    font-size: 500;
}

/*** Mobile ***/

@media screen and (max-width: $maxwidth) {
    .banner-container {
        height: 111px;
        border-radius: 10px;
        & img {
            border-radius: 10px;
            width: 335px;
            height: 100%;
        }
    }

    .banner-text {
        font-size: 24px;
    }

    .banner-text-container {
        margin-left: 32px;
        width: 335px;
    }
}