.notfound_container {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notfound_number {
    @include flex-center;
    font-size: 288px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notfound_text {
    @include flex-center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0;
}

.notfound_backbtn {
    @include flex-center;
    color: $primary-color;
    font-size: 18px;
    margin: 139px 0 139px 0;
}

@media screen and (max-width: $maxwidth) {
    .notfound_number {
        font-size: 96px;
        margin-top: 86px;
        margin-bottom: 53px;
    }

    .notfound_text {
        font-size: 18px;
        text-align: center;
        padding: 0px 30px;
    }

    .notfound_backbtn {
        margin-top: 113px;
        margin-bottom: 113px;
        font-size: 14px;
    }
}